.candy {
  width: 170px;
  height: 85px;

  border: none;

  color: black;

  font-size: 1.2rem;

  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: white;
}

#candy-A {
  background-image: url('../../assets/doce-01.svg');
}

#candy-B {
  background-image: url('../../assets/doce-02.svg');
}

#candy-C {
  background-image: url('../../assets/doce-03.svg');
}

.candy:disabled {
  cursor: default;

  background-image: url('../../assets/doce-disable.svg') !important;
}