:root {
  --primary-color: #FEA504;
  --light-blue: #f0f8ff;
  --dark-gold: #b8860b;

  --main-padding: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: 'Montagu Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  font-size: 2rem;

  padding: var(--main-padding);
}

.container-outer {
  padding: var(--main-padding);

  width: 100%;
  height: 100%;

  max-width: 1200px;
  max-height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  gap: var(--main-padding);

  background: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .container-outer {
    min-height: 100%;
    flex-direction: column-reverse;
  }
}

.stats-container,
.candies-container,
.buttons-container {
  padding: var(--main-padding);
}

.stats-container {
  height: 10%;

  min-height: 80px;
}

.candies-container {
  flex: 1;

  display: flex;

  justify-content: center;
  align-items: center;
  gap: var(--main-padding);
}

.buttons-container {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: var(--main-padding);

  min-height: calc(120px + (2 * var(--main-padding)));
}
