:root {
  --primary-color: red;
  --light-blue: #F0F8FF;
  --dark-gold: #B8860B;

  --main-padding: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-container, .candies-container, .buttons-container {
  padding: var(--main-padding);
}

.candies-container {
  flex: 1;

  display: flex;

  justify-content: center;
  align-items: center;
  gap: var(--main-padding);
}

.buttons-container {
  display: flex;

  justify-content: center;
  gap: var(--main-padding);

  min-height: calc(125px + (2 * var(--main-padding)));
}